.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textContainer {
    display: block;

    p {
        line-height: 1em;
        margin: 0;
    }
}

.boardContainer {
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
}
