.flexContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin textContainer {
    display: block;
    margin-left: 20px;
}

.info {
    @include textContainer;
    width: 100%;

    &:first-child {
        margin-left: 0;
    }
}

.label {
    position: absolute !important;
    left: calc(100% + 15px) !important;
}

.boardContainer {
    display: block;
    width: 70px;
    height: 70px;
    position: relative;
}

.listItem {
    cursor: pointer;

    &:hover {
        background: rgb(220, 220, 220) !important;
    }
}
