.flexContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin textContainer {
    display: block;
    margin-left: 10px;
}

.firstTable {
    @include textContainer;
}

.secondTable {
    @include textContainer;
}

@media(max-width: 100vh) {
    .secondTable {
        display: none;
    }
}

.boardContainer {
    display: block;
    width: 120px;
    height: 120px;
    position: relative;
}
