.boardContainer {
    height: 0;
    width: 100%;
    position: relative !important;
    padding: 0 0 100% 0 !important;
}

.container {
    display: flex;
    justify-content: flex-start;

    .game {
        display: block;
        flex-grow: 3;
        flex-shrink: 2;
        margin-right: 10px;
        flex-basis: 500px;
    }

    .sidebar {
        flex-shrink: 2;
        flex-grow: 2;
        flex-basis: 200px;
    }

    @media(max-width: 100vh) {
        .sidebar {
            display: none;
        }

        .game {
            margin-right: 0;
        }
    }
}
