.flexContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin textContainer {
    display: block;
    margin-left: 20px;
}

.info {
    @include textContainer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 110%;
    width: 100%;

    .name {
        grid-column: 1 / 1;
        color: rgb(90, 90, 90);
    }

    .value {
        grid-column: 2 / 4;
    }
}

.label {
    position: absolute !important;
    left: calc(100% + 15px) !important;
}

.boardContainer {
    display: block;
    width: 70px;
    height: 70px;
    position: relative;
}

.listItem {
    cursor: pointer;

    &:hover {
        background: rgb(220, 220, 220) !important;
    }
}
