.cell {
    background-image: url("./grid-background.png");
    background-size: contain;
    position: relative;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@mixin cellBorder {
    background-image: url("./grid-background-border.png");
}

@mixin cellCorner {
    background-image: url("./grid-background-corner.png");
}

.cellTop {
    @include cellBorder;
    transform: rotate(0deg);
}

.cellRight {
    @include cellBorder;
    transform: rotate(90deg);
}

.cellBottom {
    @include cellBorder;
    transform: rotate(180deg);
}

.cellLeft {
    @include cellBorder;
    transform: rotate(-90deg);
}

.cellTopLeft {
    @include cellCorner;
    transform: rotate(0deg);
}

.cellTopRight {
    @include cellCorner;
    transform: rotate(90deg);
}

.cellBottomRight {
    @include cellCorner;
    transform: rotate(180deg);
}

.cellBottomLeft {
    @include cellCorner;
    transform: rotate(-90deg);
}

@mixin token {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    box-model: border-box;
    margin: 1px;
}

.black {
    @include token;
    background-image: url("./token-black.png");
}

.white {
    @include token;
    background-image: url("./token-white.png");
}

.invalid {
    @include token;
    background-image: url("./token-invalid.png");
}

.preview {
    opacity: 0;
    transition: opacity 0.1s linear;

    &:hover {
        opacity: 0.5;
    }
}

.lastTurn {
    @include token;
    border: 4px solid rgb(255, 0, 0);
    border-radius: 50%;
}

.locked {
    animation-name: pulse;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
