.cell {
    background-size: contain;
    position: relative;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@mixin token {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    box-model: border-box;
    margin: 1px;
}

.invalid {
    @include token;
    background-image: url("./token-invalid.png");
}

.preview {
    opacity: 0;
    transition: opacity 0.1s linear;

    &:hover {
        opacity: 0.5;
    }
}

.lastTurn {
    @include token;
    border: 4px solid rgb(255, 0, 0);
    border-radius: 50%;
}

.locked {
    animation-name: pulse;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.canvas {
    width: 100%;
    height: 100%;
}
